<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_out_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_splash_screen"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoShopApp"
        android:hardwareAccelerated="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GoShopApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity   android:name="com.journeyapps.barcodescanner.CaptureActivity"
                    android:screenOrientation="portrait"
                    tools:replace="screenOrientation" />
    </application>
</manifest>
